<footer style="--p: 20px; --ta: center; background-color: #ECE2DC; width: 100%;">
  <p>Contact us at <a href="mailto:summer@inspectionseason.com">summer@inspectionseason.com</a></p>
  <p>Web Design and Development by Startr.</p>
  
  &copy; 2024 Your Company Name. All rights reserved.
</footer>
