
    <style>

        .navbar{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
     
        .navbar a {
            color: white;
        }

         @media (max-width: 768px) {
            .navbar {
                justify-content: center; 
            }
        }
    </style>
</head>
<body style="--m: 0; --p:0; --ff:Arial, sans-serif;">

    <div class="navbar" style=" --bgc: #778899; --p: 5px 0;">
        <a style=" --shadow-hvr: 10; --w: 110px; --p: 14px 20px; --ta: center; --td: none; --c-hvr: black; --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/index/">Home</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --ta: center; --td: none; --c-hvr: black;  --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/about/">About</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --ta: center; --td: none; --c-hvr: black;  --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/faq/">FAQ</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --ta: center; --td: none; --c-hvr: black;  --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/contact/">Contact</a>
    </div>

    <!-- Content goes here -->
</body>
</html>