<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Navigation Bar</title>
    <style>

        .navbar{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
     
        .navbar a {
            color: white;
        }

        .navbar a:hover {
            background-color: #ECE2DC;
            border-radius: 4px;
            color: black;
        }

         @media (max-width: 768px) {
            .navbar {
                justify-content: center; 
            }
        }
    </style>
</head>
<body style="--m: 0; --p:0; --ff:Arial, sans-serif;">

    <div class="navbar" style=" --bgc: #4E5E6D; --p: 5px 0;">
        <a style=" --p: 14px 20px; --ta: center; --td: none;" href="/index/">Home</a>
        <a style=" --p: 14px 20px; --ta: center; --td: none;" href="/about/">About</a>
        <a style=" --p: 14px 20px; --ta: center; --td: none;" href="/faq/">FAQ</a>
        <a style=" --p: 14px 20px; --ta: center; --td: none;" href="/contact/">Contact</a>
    </div>

    <!-- Content goes here -->
</body>
</html>