    <nav style=" --z:100; --w: 100%; --d: flex; --jc: flex-start; --pos: sticky; --top:0; flex-start; --bgc: #778899; --p: 5px 0;">
        <a style=" --shadow-hvr: 10; --w: 110px; --p: 14px 20px; --c: white; --ta: center; --td: none; --c-hvr: black; --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/index/">Home</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --c: white;--ta: center; --td: none; --c-hvr: black;  --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/about/">About</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --c: white;--ta: center; --td: none; --c-hvr: black;  --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/faq/">FAQ</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --c: white;--ta: center; --td: none; --c-hvr: black;  --radius-hvr: 4px; --bg-hvr: #ECE2DC;" href="/contact/">Contact</a>
    </nav>
